@model Stroopwafels.Models.QuoteViewModel
@{
    ViewBag.Title = "Stroopwafels bestellen";
}

<div class="jumbotron">
    <h1>Stroopwafels bestellen</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Order", "Stroopwafel", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <h2>Prijzen</h2>
            <p>
                <div class="row">Je bestelling:</div>

                @for (var i = 0; i < Model.OrderRows.Count; i++)
                {
                    @Html.HiddenFor(m => Model.OrderRows[i].Type);
                    @Html.HiddenFor(m => Model.OrderRows[i].Amount);
                    <div class="row">
                        <div>@Html.Label(Model.OrderRows[i].DisplayName)</div>
                        <div>@Html.Label(Model.OrderRows[i].Amount.ToString())</div>
                    </div>
                }

                <div class="row">Prijzen per leverancier:</div>
                @for (var i = 0; i < Model.Quotes.Count; i++)
                {
                    @Html.HiddenFor(m => Model.Quotes[i].SupplierName);
                    @Html.HiddenFor(m => Model.Quotes[i].TotalAmount);
                    <div class="row">
                        <div>
                            @Html.RadioButtonFor(m => Model.SelectedSupplier, Model.Quotes[i].SupplierName)
                            <label for="@Model.Quotes[i].SupplierName">@Model.Quotes[i].SupplierName</label>
                        </div>
                        <div>@Html.Label(Model.Quotes[i].TotalAmount)</div>
                    </div>
                }
            </p>
            <p><input type="submit" value="Stroopwafels bestellen" class="btn btn-default" />
            </p>

        }
    </div>
    
</div>